*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

.pagination .item.active{
  background-color: #2980b9 !important;
}

h1, h2, h3, h4, h5, h6 { color: #ddd; }
.sep {
  border-top: 1px solid #1f2530;
}
input, textarea, select {
  background: transparent !important;
  border: 1px solid #555 !important;
  color: #c1b3b3 !important;
}
option { background: #222f3e; }

span.error {
  color: #b55353;
}
.code { font-family: 'Roboto Mono', sans-serif; }

/* Font Weight */
._100         { font-weight: 100; }
._200         { font-weight: 200; }
._300         { font-weight: 300; }
._400         { font-weight: 400; }
._500         { font-weight: 500; }
._600         { font-weight: 600; }

/* Help Classes */
.upper        { text-transform: uppercase; }
.center       { text-align: center; }
.clearfix     { clear: both; }
.container    { width: 1229px; }
.float-right  { float: right; }
.float-left   { float: left; }
.gray         { color: gray; }
.line         { position: absolute; left: 0; width: 100%; border: 1px solid #f1f1f1; margin-top: 15px; margin-bottom: 15px; }

.alert {
  padding: 10px 20px;
  border-radius: 5px;
  background: #627293;
  margin: 15px 0;
  font-weight: bold;
}
.alert svg {
  margin-right: 8px !important;
}
.alert.danger {
  background: #683939;
  color: #c78585;
}
.alert.warning {
  background: #5c4821;
  color: #dfa83d;
}
.alert.dark {
  background: #444444;
  color: #9b9b9b;
}
.alert.primary {
  background: #395068;
  color: #19a8ed;
}
.alert.success {
  background: #a9ff99;
  color: #0c4c0c
}

::-webkit-scrollbar {
  display: none;
}

hr {
  border: 0.3px solid #273750;
  margin: 30px 0;
}

/* Margin Top */
.mt-1 {margin-top:1px}.mt-2{margin-top:2px}.mt-3{margin-top:3px}.mt-4{margin-top:4px}.mt-5{margin-top:5px}.mt-6{margin-top:6px}.mt-7{margin-top:7px}.mt-8{margin-top:8px}.mt-9{margin-top:9px}.mt-10{margin-top:10px}.mt-11{margin-top:11px}.mt-12{margin-top:12px}.mt-13{margin-top:13px}.mt-14{margin-top:14px}.mt-15{margin-top:15px}.mt-16{margin-top:16px}.mt-17{margin-top:17px}.mt-18{margin-top:18px}.mt-19{margin-top:19px}.mt-20{margin-top:20px}.mt-21{margin-top:21px}.mt-22{margin-top:22px}.mt-23{margin-top:23px}.mt-24{margin-top:24px}.mt-25{margin-top:25px}.mt-26{margin-top:26px}.mt-27{margin-top:27px}.mt-28{margin-top:28px}.mt-29{margin-top:29px}.mt-30{margin-top:30px}.mt-31{margin-top:31px}.mt-32{margin-top:32px}.mt-33{margin-top:33px}.mt-34{margin-top:34px}.mt-35{margin-top:35px}.mt-36{margin-top:36px}.mt-37{margin-top:37px}.mt-38{margin-top:38px}.mt-39{margin-top:39px}.mt-40{margin-top:40px}.mt-41{margin-top:41px}.mt-42{margin-top:42px}.mt-43{margin-top:43px}.mt-44{margin-top:44px}.mt-45{margin-top:45px}.mt-46{margin-top:46px}.mt-47{margin-top:47px}.mt-48{margin-top:48px}.mt-49{margin-top:49px}.mt-50{margin-top:50px}

/* Margin Bottom */
.mb-1{margin-bottom:1px}.mb-2{margin-bottom:2px}.mb-3{margin-bottom:3px}.mb-4{margin-bottom:4px}.mb-5{margin-bottom:5px}.mb-6{margin-bottom:6px}.mb-7{margin-bottom:7px}.mb-8{margin-bottom:8px}.mb-9{margin-bottom:9px}.mb-10{margin-bottom:10px}.mb-11{margin-bottom:11px}.mb-12{margin-bottom:12px}.mb-13{margin-bottom:13px}.mb-14{margin-bottom:14px}.mb-15{margin-bottom:15px}.mb-16{margin-bottom:16px}.mb-17{margin-bottom:17px}.mb-18{margin-bottom:18px}.mb-19{margin-bottom:19px}.mb-20{margin-bottom:20px}.mb-21{margin-bottom:21px}.mb-22{margin-bottom:22px}.mb-23{margin-bottom:23px}.mb-24{margin-bottom:24px}.mb-25{margin-bottom:25px}.mb-26{margin-bottom:26px}.mb-27{margin-bottom:27px}.mb-28{margin-bottom:28px}.mb-29{margin-bottom:29px}.mb-30{margin-bottom:30px}.mb-31{margin-bottom:31px}.mb-32{margin-bottom:32px}.mb-33{margin-bottom:33px}.mb-34{margin-bottom:34px}.mb-35{margin-bottom:35px}.mb-36{margin-bottom:36px}.mb-37{margin-bottom:37px}.mb-38{margin-bottom:38px}.mb-39{margin-bottom:39px}.mb-40{margin-bottom:40px}.mb-41{margin-bottom:41px}.mb-42{margin-bottom:42px}.mb-43{margin-bottom:43px}.mb-44{margin-bottom:44px}.mb-45{margin-bottom:45px}.mb-46{margin-bottom:46px}.mb-47{margin-bottom:47px}.mb-48{margin-bottom:48px}.mb-49{margin-bottom:49px}.mb-50{margin-bottom:50px}

/* Margin Left */
.ml-1{margin-left:1px}.ml-2{margin-left:2px}.ml-3{margin-left:3px}.ml-4{margin-left:4px}.ml-5{margin-left:5px}.ml-6{margin-left:6px}.ml-7{margin-left:7px}.ml-8{margin-left:8px}.ml-9{margin-left:9px}.ml-10{margin-left:10px}.ml-11{margin-left:11px}.ml-12{margin-left:12px}.ml-13{margin-left:13px}.ml-14{margin-left:14px}.ml-15{margin-left:15px}.ml-16{margin-left:16px}.ml-17{margin-left:17px}.ml-18{margin-left:18px}.ml-19{margin-left:19px}.ml-20{margin-left:20px}.ml-21{margin-left:21px}.ml-22{margin-left:22px}.ml-23{margin-left:23px}.ml-24{margin-left:24px}.ml-25{margin-left:25px}.ml-26{margin-left:26px}.ml-27{margin-left:27px}.ml-28{margin-left:28px}.ml-29{margin-left:29px}.ml-30{margin-left:30px}.ml-31{margin-left:31px}.ml-32{margin-left:32px}.ml-33{margin-left:33px}.ml-34{margin-left:34px}.ml-35{margin-left:35px}.ml-36{margin-left:36px}.ml-37{margin-left:37px}.ml-38{margin-left:38px}.ml-39{margin-left:39px}.ml-40{margin-left:40px}.ml-41{margin-left:41px}.ml-42{margin-left:42px}.ml-43{margin-left:43px}.ml-44{margin-left:44px}.ml-45{margin-left:45px}.ml-46{margin-left:46px}.ml-47{margin-left:47px}.ml-48{margin-left:48px}.ml-49{margin-left:49px}.ml-50{margin-left:50px}

/* Margin Right */
.mr-1{margin-right:1px}.mr-2{margin-right:2px}.mr-3{margin-right:3px}.mr-4{margin-right:4px}.mr-5{margin-right:5px}.mr-6{margin-right:6px}.mr-7{margin-right:7px}.mr-8{margin-right:8px}.mr-9{margin-right:9px}.mr-10{margin-right:10px}.mr-11{margin-right:11px}.mr-12{margin-right:12px}.mr-13{margin-right:13px}.mr-14{margin-right:14px}.mr-15{margin-right:15px}.mr-16{margin-right:16px}.mr-17{margin-right:17px}.mr-18{margin-right:18px}.mr-19{margin-right:19px}.mr-20{margin-right:20px}.mr-21{margin-right:21px}.mr-22{margin-right:22px}.mr-23{margin-right:23px}.mr-24{margin-right:24px}.mr-25{margin-right:25px}.mr-26{margin-right:26px}.mr-27{margin-right:27px}.mr-28{margin-right:28px}.mr-29{margin-right:29px}.mr-30{margin-right:30px}.mr-31{margin-right:31px}.mr-32{margin-right:32px}.mr-33{margin-right:33px}.mr-34{margin-right:34px}.mr-35{margin-right:35px}.mr-36{margin-right:36px}.mr-37{margin-right:37px}.mr-38{margin-right:38px}.mr-39{margin-right:39px}.mr-40{margin-right:40px}.mr-41{margin-right:41px}.mr-42{margin-right:42px}.mr-43{margin-right:43px}.mr-44{margin-right:44px}.mr-45{margin-right:45px}.mr-46{margin-right:46px}.mr-47{margin-right:47px}.mr-48{margin-right:48px}.mr-49{margin-right:49px}.mr-50{margin-right:50px}

/* Border Radius */
.br-1{border-radius:1px}.br-2{border-radius:2px}.br-3{border-radius:3px}.br-4{border-radius:4px}.br-5{border-radius:5px}.br-6{border-radius:6px}.br-7{border-radius:7px}.br-8{border-radius:8px}.br-9{border-radius:9px}.br-10{border-radius:10px}.br-11{border-radius:11px}.br-12{border-radius:12px}.br-13{border-radius:13px}.br-14{border-radius:14px}.br-15{border-radius:15px}.br-16{border-radius:16px}.br-17{border-radius:17px}.br-18{border-radius:18px}.br-19{border-radius:19px}.br-20{border-radius:20px}.br-21{border-radius:21px}.br-22{border-radius:22px}.br-23{border-radius:23px}.br-24{border-radius:24px}.br-25{border-radius:25px}.br-26{border-radius:26px}.br-27{border-radius:27px}.br-28{border-radius:28px}.br-29{border-radius:29px}.br-30{border-radius:30px}.br-31{border-radius:31px}.br-32{border-radius:32px}.br-33{border-radius:33px}.br-34{border-radius:34px}.br-35{border-radius:35px}.br-36{border-radius:36px}.br-37{border-radius:37px}.br-38{border-radius:38px}.br-39{border-radius:39px}.br-40{border-radius:40px}.br-41{border-radius:41px}.br-42{border-radius:42px}.br-43{border-radius:43px}.br-44{border-radius:44px}.br-45{border-radius:45px}.br-46{border-radius:46px}.br-47{border-radius:47px}.br-48{border-radius:48px}.br-49{border-radius:49px}.br-50{border-radius:50px}


